body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
nav div a,
nav div a:after,
nav div a:before {
  transition: all .4s;
}

nav > div > a:hover {
    color: #40514E;
    font-size: 20px;
}

nav {
    background-color: #E4F9F5;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

nav > div {
    font-size: 15px;
    margin: 0 20px;
} 

nav > div:first-child {
    margin-right: auto;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 1px;
}

.top-container > h2 {
  margin-top: 0;
}

.profile {
  display: flex;
  /* flex-wrap: wrap; */
}

.profile-img {
  width: 60%;
  margin-top: 30px;
  border-radius: 50%;
  border: 3px solid rgb(210, 203, 203);

}

.profile-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 50px;
}

.profile-left {
margin-right: 50px;
}

.profile-icons {
  margin: 0 40px;
}

.profile-icons > ul {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 0;
  justify-content: space-around;

  
}

.profile-icons > ul li {
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  margin: 40px;

}

.profile-icons > ul li a {
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid rgb(210, 203, 203);
  z-index: 1;
}

.profile-icons > ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.profile-icons > ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.profile-icons > ul li a:before {
  content: "";
  position: absolute; /* animation take the intire page */
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #f00; */
  transition: .5s;
  /* z-index: 2; */
}

.profile-icons > ul li a:hover:before {
  top: 0;
}

.profile-icons > ul li:nth-child(1) a:before{
  background: #3b5999;
}

.profile-icons > ul li:nth-child(2) a:before{
  background: #55acee;
}

.profile-icons > ul li:nth-child(3) a:before {
  background: #1d1e1f;
}


.skill-icon {
  height: 100px;
  margin: 30px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all .5s ease;

}

.skill-icon:hover {
  height: 130px;
  transition: 0.3s;
}

.work {
  margin: 0 60px;
}


.project-pic {
  width: 150px;
  height: 150px;
}

.projects-container {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-container {
  text-align: center;
  width: 15.875rem;
  border: none;
}

.project-container p {
  padding: 0.4rem;
}

.project-card {
  background-color: #f7f3f3e4;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  margin: 20px;
}

.project-title {
  height: 35px;
}


.btn {
  width: 150px;
}


h1 {
  color: #66BFBF;
  margin-top: 0;
  font-size: 3.625rem;
  margin: 50px auto 40px auto;

}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

h2:hover {
  font-size: 2.7rem;
  transition: 0.3s;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
  border: dotted #c6efef 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto 100px;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #548080;
}


.midle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 30px;
}

#to-top {
  margin: 40px;
  font-family: 'Merriweather', serif;

}


.intro {
  width: 70%;
  margin: 100px;
  text-align: justify;
}





@media screen and (max-width: 580px) {

  .profile {
    display: flex;
    flex-wrap: wrap;
  }

  nav > div {
    font-size: 10px;
    margin: 0 5px;
} 

nav > div > a:hover {
  font-size: 15px;
  margin: 0 5px;
} 

h1 {
  font-size: 2.625rem;
}
}

