body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
nav div a,
nav div a:after,
nav div a:before {
  transition: all .4s;
}

nav > div > a:hover {
    color: #40514E;
    font-size: 20px;
}

nav {
    background-color: #E4F9F5;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

nav > div {
    font-size: 15px;
    margin: 0 20px;
} 

nav > div:first-child {
    margin-right: auto;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 5px;
}

.profile {
  display: flex;
}

.profile-img {
  width: 80%;
  margin-top: 30px;
  border-radius: 50%;
  border: 3px solid rgb(210, 203, 203);

}

.profile-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 150px ;
}

.profile-icons {
  margin: 0 40px;
}

.profile-icons > ul {
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 0;
  justify-content: space-around;

  
}

.profile-icons > ul li {
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  margin: 40px;

}

.profile-icons > ul li a {
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid rgb(210, 203, 203);
  z-index: 1;
}

.profile-icons > ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.profile-icons > ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.profile-icons > ul li a:before {
  content: "";
  position: absolute; /* animation take the intire page */
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #f00; */
  transition: .5s;
  /* z-index: 2; */
}

.profile-icons > ul li a:hover:before {
  top: 0;
}

.profile-icons > ul li:nth-child(1) a:before{
  background: #3b5999;
}

.profile-icons > ul li:nth-child(2) a:before{
  background: #55acee;
}

.profile-icons > ul li:nth-child(3) a:before {
  background: #1d1e1f;
}


.skill-icon {
  height: 120px;
  margin: 50px;
}

.skill-icon:hover {
  height: 130px;
  transition: 0.3s;
}

.work {
  margin: 60px;
}

.projects {
  padding: 5px 20px 50px;
}

.project-pic {
  width: 100px;
  height: 100px;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-container {
  text-align: center;
  width: 21.875rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-card {
  background-color: rgb(210, 203, 203);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 20px;
}

.project-title {
  height: 35px;
}

.flex-container {
	justify-content: center;
  justify-content: space-evenly;
}

#work1Btn {
  width: 150px;
}


h1 {
  color: #66BFBF;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;

}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
  margin-bottom: 50px;
}

h2:hover {
  font-size: 2.7rem;
  transition: 0.3s;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

hr {
  border: dotted #c6efef 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto 100px;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}


.midle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
  margin-top: 30px;
}

#to-top {
  margin-top: 40px;
}


.intro {
  width: 70%;
  margin: 100px;
  text-align: justify;
}


.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat' , sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:35px;
	line-height:35px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #528ecc;
  margin-bottom: 50px;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.btn:active {
	position:relative;
	top:1px;
}
